div.menu
{
position:absolute;
width:170px;
height:400px;
background-color:white;
margin-left:10px;
margin-top:100px;
margin-right: 100px;
margin-bottom:10px;
border-left:1px solid #000000; 
border-right:1px solid #000000;
border-bottom:1px solid #000000;
border-top:1px solid #000000;
}
div.contenu {
position:absolute;
height:4000px;
width:1000px;
background-color:white;
margin-left:190px;
margin-top:20px;
margin-right:0px;
border-left:1px solid #000000; 
border-right:1px solid #000000;
border-bottom:1px solid #000000;
border-top:1px solid #000000;
border-radius: 10px;
}
div.nav {
				list-style: none ;
				margin: 0 ;
				padding: 0 ;
				horizontal-align: middle ;
				 margin-left: auto;
				margin-right: auto;
				width: 33em;
				}
			div.nav li {
				display: inline ;
				margin-right: 1px ;
				color: #FFFFFF ;
				background: #fff ;
				horizontal-align: middle ;
				 margin-left: auto;
				margin-right: auto;
				width: 33em;
				}
			div.nav li a {
				background: #9C9DAC ;
				color: #FFFFFF ;
				border: 1px solid #600 ;
				font: 1em "Trebuchet MS",Arial,sans-serif ;
				line-height: 1em ;
				padding: 4px 20px ;
				text-align: center ;
				text-decoration: none ;
				 margin-left: auto;
				margin-right: auto;
				width: 33em;
				}
			div.nav li a :hover, #nav li a:focus, #nav li a:active {
				background: #FFF ;
				text-decoration: underline ;
				 margin-left: auto;
				margin-right: auto;
				width: 33em;
				}
			div.label
				{
					display: block;
					width: 150px;
					float: left;
				}
	
